p {
  padding: 10px;
}

.verified {
  color: green;
}

.verified ~ .form-control {
  border-color: green;
}

.form-text {
  color: red;
}

.card {
  margin: 20px;
}

h1 {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}

.btn-danger {
  font-size: 12px;
  float: right;
}

.search {
  margin: 20px auto;
  max-width: 80%;
}

h4 {
  margin: 0 auto;
  margin-top: 50px;
  color: red;
  display: block;
}

h4 ~ p {
  text-align: center;
  color: red;
}

.detailImg {
  margin: 20px auto;
  display: block;
}

.spinner {
  margin: 250px auto;
  display: block;
}

.idErrorMsg {
  text-align: center;
  display: flex;
  flex-direction: column;
}
